  background-color: #f3f3f3;
  border-radius: 10px;
}

.login-section .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: relative;
  top: 22px;
  left: 19px;
}

.login-section .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .image {
  position: relative;
  width: 200px;
  height: 50px;
}

.login-section .frame-2 {
  position: relative;
  flex: 0 0 auto;
}

.login-section .captcha {
  position: relative;
  width: 319px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #919191;
}

.login-section .text-wrapper-8 {
  position: absolute;
  top: 16px;
  left: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #c1c1c1;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .verify {
  position: absolute;
  width: 45px;
  height: 29px;
  top: 11px;
  left: 254px;
  background-color: #604dcf;
  border-radius: 5px;
}

.login-section .text-wrapper-9 {
  position: absolute;
  top: 6px;
  left: 6px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .content {
  display: flex;
  flex-direction: column;
  width: 615px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 213px;
  left: 110px;
}

.login-section .text-wrapper-10 {
  position: relative;
  width: 615px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #292a2e;
  font-size: 64px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.login-section .p {
  position: relative;
  width: 614px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .community {
  position: absolute;
  width: 633px;
  height: 467px;
  top: 467px;
  left: 100px;
}

.login-section .salamvibe-logo {
  position: absolute;
  width: 211px;
  height: 38px;
  top: 100px;
  left: 110px;
}
