.login-section {
  width: 1440px;
  height: 1024px;
  background-color: #ffffff;
}

.login-section .overlap-group {
  position: relative;
  height: 1024px;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.login-section .rectangle {
  position: absolute;
  width: fit-content;
  height: 1024px;
  top: 0;
  left: 0;
  background-color: #f4f7fe80;
}

.login-section .login {
  position: absolute;
  width: 460px;
  height: 777px;
  top: 100px;
  left: 870px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 1px 20px #0000000d, 0px -1px 20px #0000000d;
}

.login-section .continue-with-google {
  position: absolute;
  width: 360px;
  height: 55px;
  top: 657px;
  left: 50px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid;
  border-color: #919191;
}

.login-section .google {
  position: relative;
  width: 220px;
  height: 30px;
  top: 11px;
  left: 69px;
}

.login-section .text-wrapper {
  position: absolute;
  top: 5px;
  left: 45px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.login-section .group {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.login-section .or {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 604px;
  left: 50px;
}

.login-section .line {
  margin-left: -0.5px;
  position: relative;
  width: 161px;
  height: 1px;
  object-fit: cover;
}

.login-section .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #929292;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.login-section .img {
  margin-right: -0.5px;
  position: relative;
  width: 161px;
  height: 1px;
  object-fit: cover;
}

.login-section .email-address {
  display: flex;
  width: 359px;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 14px 75px 14px 20px;
  position: absolute;
  top: 95px;
  left: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #919191;
}

.login-section .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #c1c1c1;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .password {
  display: flex;
  width: 359px;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 14px 75px 14px 20px;
  position: absolute;
  top: 159px;
  left: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #919191;
}

.login-section .don-t-have-an {
  position: absolute;
  top: 735px;
  left: 123px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .span {
  color: #1e1e1ecc;
}

.login-section .text-wrapper-3 {
  color: #000000b2;
}

.login-section .text-wrapper-4 {
  font-weight: 500;
  color: #604dcf;
}

.login-section .text-wrapper-5 {
  position: absolute;
  top: 23px;
  left: 187px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .login-button {
  display: flex;
  width: 359px;
  align-items: flex-start;
  position: absolute;
  top: 484px;
  left: 50px;
}

.login-section .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 359px;
  height: 45px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 20px;
  position: relative;
  background-color: #604dcf;
  border-radius: 10px;
}

.login-section .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.login-section .text-wrapper-6 {
  position: absolute;
  top: 557px;
  left: 171px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .recaptcha {
  position: absolute;
  width: 358px;
  height: 237px;
  top: 228px;
  left: 51px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.login-section .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: relative;
  top: 22px;
  left: 19px;
}

.login-section .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .image {
  position: relative;
  width: 200px;
  height: 50px;
}

.login-section .frame-2 {
  position: relative;
  flex: 0 0 auto;
}

.login-section .captcha {
  position: relative;
  width: 319px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #919191;
}

.login-section .text-wrapper-8 {
  position: absolute;
  top: 16px;
  left: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #c1c1c1;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .verify {
  position: absolute;
  width: 45px;
  height: 29px;
  top: 11px;
  left: 254px;
  background-color: #604dcf;
  border-radius: 5px;
}

.login-section .text-wrapper-9 {
  position: absolute;
  top: 6px;
  left: 6px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .content {
  display: flex;
  flex-direction: column;
  width: 615px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 213px;
  left: 110px;
}

.login-section .text-wrapper-10 {
  position: relative;
  width: 615px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #292a2e;
  font-size: 64px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.login-section .p {
  position: relative;
  width: 614px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.login-section .community {
  position: absolute;
  width: 633px;
  height: 467px;
  top: 467px;
  left: 100px;
}

.login-section .salamvibe-logo {
  position: absolute;
  width: 211px;
  height: 38px;
  top: 100px;
  left: 110px;
}


.attrEntry {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.attrEntry label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.attrEntry input, .attrEntry select, .attrEntry button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
